.chat-window {
  flex: 1;

  overflow-y: auto;

  padding:
    50px
    100px
    190px;

  display: flex;
  flex-direction: column;

  gap: 32px;
}

.chat-bubble {
  max-width: 520px;

  padding: 20px 24px;

  border-radius: 24px;

  position: relative;

  line-height: 1.6;

  color: white;
}

.chat-bubble.user {
  align-self: flex-end;

  background:
    linear-gradient(
      135deg,
      #c026d3,
      #7c3aed
    );

  box-shadow:
    0 0 25px rgba(168,85,247,.25);
}

.chat-bubble.assistant {
  align-self: flex-start;

  background:
    rgba(255,255,255,.05);

  border:
    1px solid rgba(255,255,255,.06);

  backdrop-filter:
    blur(20px);
}

.message-text {
  font-size: 18px;
}

.message-time {
  display: block;

  margin-top: 12px;

  text-align: right;

  font-size: 12px;

  color: rgba(255,255,255,.35);
}

.today-label {
  text-align: center;

  color: rgba(255,255,255,.4);

  font-size: 14px;

  margin-bottom: 10px;

  letter-spacing: 1px;
}