.app-layout {
  display: flex;
  height: 100vh;

  background: #050816;
}

.main-area {
  flex: 1;

  position: relative;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  background:
    radial-gradient(
      circle at top,
      #1a0f35 0%,
      #050816 45%
    );
}