.sidebar {
  width: 220px;

  background: rgba(8, 12, 28, 0.85);

  backdrop-filter: blur(30px);

  border-right: 1px solid rgba(255,255,255,.05);

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  padding: 30px 25px;
}

.logo {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 60px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.sidebar-item {
  background: transparent;

  border: none;

  color: white;

  text-align: left;

  padding: 14px 18px;

  border-radius: 14px;

  cursor: pointer;

  font-size: 16px;
}

.sidebar-item:first-child {
  background: rgba(168,85,247,.15);

  border: 1px solid rgba(168,85,247,.35);
}

.user-profile {
  margin-top: auto;

  font-size: 18px;
  font-weight: 600;
}
.sidebar-item {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 14px;

  padding: 16px 22px;

  border: none;
  outline: none;

  background: transparent;

  color: rgba(255,255,255,.9);

  font-size: 18px;

  border-radius: 18px;

  cursor: pointer;

  transition: .3s ease;
}

.sidebar-item:hover {
  background:
    rgba(168,85,247,.08);
}

.sidebar-item.active {
  background:
    rgba(168,85,247,.18);

  border:
    1px solid rgba(168,85,247,.35);
}

.sidebar-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color:
    rgba(255,255,255,.8);
}

/* =========================
   TABLET
========================= */

@media (max-width: 1024px) {

  .sidebar {
    width: 180px;
  }

  .logo {
    font-size: 22px;
  }

  .sidebar-item {
    font-size: 15px;
    padding: 14px;
  }
}



/* =========================
   MOBILE MENU
========================= */

.mobile-menu-btn {
  display: none;

  position: fixed;

  top: 20px;
  left: 20px;

  z-index: 1001;

  width: 44px;
  height: 44px;

  border: none;

  border-radius: 12px;

  background: rgba(15,23,42,.9);

  color: white;

  cursor: pointer;
}

.close-sidebar {
  display: none;

  background: none;

  border: none;

  color: white;

  cursor: pointer;

  margin-bottom: 20px;
}

.sidebar-overlay {
  position: fixed;

  inset: 0;

  background: rgba(0,0,0,.6);

  opacity: 0;

  visibility: hidden;

  transition: .3s;

  z-index: 998;
}

.show-overlay {
  opacity: 1;

  visibility: visible;
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

  .mobile-menu-btn {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .close-sidebar {
    display: block;
  }

  .sidebar {
    position: fixed;

    left: -280px;

    top: 0;

    width: 260px;

    height: 100vh;

    z-index: 999;

    transition: .35s ease;
  }

  .sidebar-open {
    left: 0;
  }
}